Source: openh264
Priority: optional
Maintainer: Kurento <kurento@googlegroups.com>
Build-Depends: debhelper (>= 9),
 cmake,
 pkg-config
Standards-Version: 4.0.0

Package: openh264
Section: libs
Architecture: any
Depends: ${misc:Depends},
 ${shlibs:Depends},
 bzip2,
 wget
Description: OpenH264 Video Codec provided by Cisco Systems, Inc.
